@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

nav {
    background: #222;
}

header {
    background: #F1E4E6;
}

main {
    background: #FFF;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.nav__group {
    display: flex;
    justify-content: space-between;
}

.nav__icons {
    display: flex;
    align-items: center;
    gap: 41px;
    margin: 18px 0 18px 231px;
}

.nav__menu {
    display: flex;
    gap: 25px;
    margin: 26px 240px 20px 0;
}

.header__group {
    display: grid;
    grid-template-columns: 50% 50%;
}

.header__cell--1 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.header_img {
    width: 100%;
    /*height: 100%;*/
}

.header__info {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 16px;
    margin: 290px 0 0 63px;
}

.header__title {
    color: #222;
    font-size: 48px;
    font-weight: 900;
}

.header__text {
    color: #222;
    font-size: 32px;
    font-weight: 700;
}

/*Основные свойства унаследованы от header__text. Или лучше объявлять полностью? */
.header__text--coral {
    color: #F16D7F;
}

.top {
    /*Так отображение более симметрично, но не соответствует шаблону*/
    display: flex;
    justify-content: center;
    margin: 65px auto 96px auto;

}

.top__cards {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    gap: 30px;
    margin: 0 auto;
    position: relative;
}

.top__cards img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top__card {
    position: relative;
}

.top__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 22, 22, 0.70);
}

.top__card--large {
    grid-row-start: 2;
    grid-column: span 3;
    position: relative;
}

.top__info {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.top__text {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.prod {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 60px auto 0;
}

.prod__title {
    color: #222;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.prod__info {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 17px;
    margin-bottom: 48px;
}

.prod__cards {
    display: grid;
    grid-template-rows: repeat(2, 587px);
    grid-template-columns: repeat(3, 360px);
    column-gap: 30px;
    row-gap: 25px;
    margin: 0 auto;
}

.prod__card {
    background: #F8F8F8;
}

.card__img {
    position: relative;
    width: 360px;
    height: 420px;
}

.cart {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);;

}

.prod__card:hover .cart {
    display: flex;
}

.cart__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    padding: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FFF;
    border: solid 1px #FFFFFF;
}

.card__info {
    padding: 24px;
}

.card__title {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.card__text {
    color: #5D5D5D;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    margin: 16px 0;
}

.card__price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.prod__btn {
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    padding: 15px 39px;
    margin: 48px auto 60px auto;
    border: solid 1px #FF6A6A;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .nav__icons {
        margin: 18px 32px;
    }

    .nav__menu {
        margin: 26px 32px 20px 0;
    }

    .header__info {
        margin: 138px 0 0 39px;
    }

    .header__title {
        font-size: 44px;
    }

    .header__text {
        font-size: 24px;
    }

    .top {
        margin-bottom: 110px;
    }

    .top__cards {
        grid-template-columns: repeat(3, 232px);
        grid-template-rows: 168px 116px;
        gap: 20px;
    }

    .prod__cards {
        grid-template-rows: repeat(3, 581px);
        grid-template-columns: repeat(2, 360px);
        column-gap: 16px;
        row-gap: 17px;
    }

    .card__info {
        padding: 25px 16px 20px;
    }

    .card__text {
        margin: 12px 0 18px;
    }

    .prod__btn {
        margin: 32px auto 70px auto;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 375px;
    }

    .nav__icons {
        margin: 16px 18px;
    }

    .nav__menu {
        margin: 25px 16px;
        gap: 0;
    }

    .nav__link--cart, .nav__link--login {
        display: none;
    }

    .header__group {
        grid-template-columns: 100%;
        height: 363px;
    }

    .header__cell--1 {
        display: none;
    }

    .header__cell--2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__info {
        gap: 15px;
        margin: 0;
    }

    .header__rectangle {
        height: 61px;
        overflow: hidden;
    }

    .header__title {
        font-size: 38px;
    }

    .header__text {
        font-size: 20px;
    }

    .top {
        margin: 64px auto;
    }

    .top__cards {
        grid-template-columns: 343px;
        grid-template-rows: repeat(3, 247px) 111px;
        gap: 32px;
        margin: 0 auto;
    }

    .top__card--large {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row-start: 4;
        grid-column: span 1;
        overflow: hidden;
    }

    .top__card--large img {
        width: 200%;
        height: 200%;
    }

    .prod__info {
        margin-bottom: 65px;
    }

    .prod__cards {
        grid-template-rows: repeat(6, 580px);
        grid-template-columns: 360px;
        gap: 17px;
    }

    .card__info {
        padding: 25px 16px 20px;
    }

    .prod__btn {
        margin: 40px auto 85px;
    }

}